body{
  /*margin: 0;*/
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, sans-serif;
  /*font-size:16px;*/
}

.some-content-related-div{
  height: 240px;
  border: 1px solid;
}

/*td{
  word-break:break-all;
}*/
p{
  word-break:break-all;
}
#panel{
  margin-top: 5%;
}

.red{
  color: #e65a16;
}
.blue{
  color: #0080ED;
}
.purple{
  color: rgb(142, 26, 166);
}
.green{
  color: #249622;
}

.point{
  color: #0080ED;
}

#mg_bottom{
  margin-bottom: 5%;
}
#people{
  margin-bottom: 5%;
}
