body{
  margin: 0;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, sans-serif;
  font-size:16px;
}

li{
  list-style: none;
}

header{
  min-width: 850px;
  height: 50px;
  background-color: #eee;
  border-bottom: 1px solid #999;
}
header a{
  text-decoration: none;
}

.title{
  float: left;
  padding: 10px 10px 10px 60px;
  font-size: 25px;
  height: 30px;
  line-height:30px;
}
.title a{
  color: #ED7000;
}

.right{
  /*color: #777;*/
  float:right;
  padding: 2px 0px;
  /*margin: 10px*/
  height: 46px;
  line-height:46px;
}
.right a{
  color: #ED7000;
}

ul{
  margin: 0;
}

.right li {
  /*height: 46px;*/
  /*list-style: none;*/
  float: left;
  padding: 0px 30px;
  border-left: 1px solid #999;
}

/*.cart a{
  border: 1px #999 solid;
  border-radius: 5px;
  padding: 10px 5px 0px 5px;
  background: -moz-linear-gradient(top,#eee 0%,#ddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}*/

/*#numGoods{
  font-size: 24px;
  color: #ED7000;
}*/

/*.header_under{
  min-width: 1060px;
  height: 30px;
  line-height:30px;
  padding: 5px 30px;
  background-color: #eee;
  border-bottom: 1px solid #999;
}*/

section{
  width: 1060px;
  margin: auto;
}

/*h2{
  text-align: center;
}*/

/*.Item{
  clear: left;
  border-bottom: solid 1px #808080;
  height: 180px;
  padding: 8px 0;
  min-width: 560px
}*/

/*.Item .img{
  float: left;
  width: 150px;
  height: 150px;
}*/

/*.Item .data{
  float: left;
  width: 320px;
  padding-left: 20px;
}*/

/*.price{
  color: #ED2000
}*/

/*.Item_detail{
  border-bottom: solid 1px #808080;
  min-height: 300px;
  padding: 8px 0;
}*/

/*.Item_detail .img{
  float: left;
  width: 300px;
  height: 300px;
}*/

/*.Item_detail .data{
  float: left;
  width: 480px;
  padding-left: 20px;
}*/

/*.add{
  float: left;
  padding-left: 20px;
}*/

/*.delete{
  float: left;
  padding-left: 20px;
}*/

/*.goods{
  float: left;
}*/

/*.buy{
  padding-left: 40px;
  text-align: center;
  float: left;
}*/
/*.Item_buy{
  border-bottom: solid 1px #808080;
  padding: 8px 0;
}*/
.red{
  color: #e65a16;
}
.blue{
  color: #0080ED;
}
.green{
  color: #2ab627;
}

.hint{
  height: 20px;
  width: 100px;
  border: solid 1px;
  margin: 2px;
}

.point{
  color: #0080ED;
}
